{% extends "base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 4/5/2013
# Institution: University of Notre Dame
# Primary Authors:
#   Alexander Vyushkov <Alexander.Vyushkov@nd.edu>
########################################################################################################################
{% endcomment %}

{% load i18n %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        {% block inner_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
