{% extends "base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 4/5/2013
# Institution: University of Notre Dame
# Primary Authors:
#   Alexander Vyushkov <Alexander.Vyushkov@nd.edu>
########################################################################################################################
{% endcomment %}

{% load i18n %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}ts_om/css/ts2.css" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}

{% block jumbotron_content %}
    <h1>OpenMalaria Results Visualizer</h1>
    <p class="lead">Visualizing the OpenMalaria model output</p>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        {% block inner_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
