[run]
omit =
    website/settings/*
    config_local_example.py
    manage.py
    wsgi.py
    website/tests/selenium.py
    website/logger.py
    website/management/commands/backup_db.py
    website/management/commands/reset.py
    website/management/commands/restore_db.py