{% load static %}
    <footer class="footer">
        <hr>
        <img style="margin: 0 10px 0 0; float: right;" src="{% static 'img/vecnet-logo.jpg' %}" alt="VecNet Logo" width="35" />
        <p class="text-center"> <a href="https://www.vecnet.org/index.php/contact-us/">Contact us</a> | <a href="https://www.vecnet.org/index.php/about-vecnet/faq">FAQ</a> | <a href="https://www.vecnet.org/index.php/user-privacy-policy">User Privacy Policy</a> | <a href="https://www.vecnet.org/index.php/terms-of-use">Terms of Use</a></p>
        <p class="fine-print text-center"> Copyright &copy; 2013-2018 <a href="https://www.vecnet.org/">Vector-Borne Disease Network (VecNet)</a></p>
    </footer>