{% extends "ts_om_edit/base_with_form.html" %}

{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ts_om_edit/css/base.css' %}?2">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
	<script src="{% static 'ts_om_edit/js/base.js' %}?2"></script>
{% endblock %}

{% block left_content %}
    <div class="row">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'index' %}">Home</a><span class="divider"></span>
            </li>
            <li>
                <a href="{% url 'ts_om.list' %}">My Simulations</a><span class="divider"></span>
            </li>
            <li class="active"> {{  scenario.name  }} </li>
        </ul>
    </div>
    <div class="list-group workflow-steps-list">
        <button class="list-group-item {% if step == "monitoring" %}active{% endif %}" type="submit" name="submit" value="ts_om.monitoring">
            <span class="glyphicon glyphicon-time"></span> Monitoring
        </button>
        <button class="list-group-item {% if step == "demography" %}active{% endif %}" type="submit" name="submit" value="ts_om.demography">
            <span class="glyphicon glyphicon-signal"></span> Demography
        </button>
        <button class="list-group-item {% if step == "health system" %}active{% endif %}" type="submit" name="submit" value="ts_om.healthsystem">
            <span class="glyphicon glyphicon-plus-sign"></span> Health System
        </button>
        <button class="list-group-item {% if step == "entomology" %}active{% endif %}" type="submit" name="submit" value="ts_om.entomology">
            <span class="glyphicon glyphicon-screenshot"></span> Entomology
        </button>
        <button class="list-group-item {% if step == "interventions" %}active{% endif %}" type="submit" name="submit" value="ts_om.interventions">
            <span class="glyphicon glyphicon-wrench"></span> Interventions
        </button>
        <button class="list-group-item {% if step == "deployments" %}active{% endif %}" type="submit" name="submit" value="ts_om.deployments">
            <span class="glyphicon glyphicon-calendar"></span> Deployments
        </button>
        <button class="list-group-item" type="submit" name="submit" value="ts_om.summary">
            <span class="glyphicon glyphicon-ok"></span> Summary
        </button>
    </div>
{% endblock %}
{% block right_content %}
	{% block page_content %}
		{% block header_content %}
		{% endblock %}
            <div class="row">
                <div class="col-md-9">
                    <div class="tabbable">
                        <ul id="mode-tabs" class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#simple">Basic</a></li>
                            <li>
                                <a data-toggle="tab" href="#advanced">
                                    Advanced
                                    <div class="advanced-tab-extra-text text-warning pull-right hide">(read-only)</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="save-scenario btn btn-default pull {% if sim_id %}disabled{% endif %}" id="save-scenario" type="button"
                        {% if sim_id %}disabled{% endif %}>
                        Save
                    </button>
                    <a class="btn btn-default " href="{% url "ts_om.summary" scenario_id %}">
                        Cancel
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="alert-success save-text"></p>
                </div>
            </div>
			<div class="tab-content">
                <div class="tab-pane active" id="simple">
                    {% block simple_tab_content %}
                    {% endblock %}
                </div>
                <div class="tab-pane" id="advanced">
                    <div class="row">
                        <div class="col-md-9">
                            <span class="help-block" id="further-info">
                                {% block further_info %}
                                Schema v32: <a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/schema-32">Doc</a>
                                | <a download="scenario_32.xsd" href="{% static 'ts_om/files/scenario_32.xsd' %}">Download</a>
                                {% endblock %}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-default {% if sim_id %}disabled{% endif %}" id="validate" type="button"
                                {% if sim_id %}disabled{% endif %}>
                                Validate
                            </button>
                        </div>
                        <div class="col-md-1">
                            <div id="validate-spinner">
                                <span class="glyphicon glyphicon-spin icon-spinner"></span>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <button class="discard-changes btn pull-right hide" type="button">Discard changes</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div id="valid-or-not"></div>
                        </div>
                    </div>
                    <textarea id="xml" name="xml" placeholder="<!-- write some xml -->">{{ xml }}</textarea>
                    <div class="form-actions">
                        <button class="submit-scenario btn btn-default {% if sim_id %}disabled{% endif %}" id="submit-scenario" type="button"
                            {% if sim_id %}disabled{% endif %} style="display: none;">
                            Save and Run
                        </button>
                    </div>
                    <span class="help-block">
                        While in the editor window:<br>
                        Use F11 to toggle Fullscreen mode.<br/>
                        Use ctrl+f / cmd+f to start searching, ctrl+g / cmd+g to find next.<br/>
                        Use ctrl+z / cmd+z to undo, ctrl+y / cmd+y to redo.
                    </span>
                    <div id="submit-progress" class="progress progress-striped active" style="width: 40%; display: none;">
                        <div class="bar" style="width: 20%;"></div>
                    </div>
                    <p class="text-success" id="submit_success" style="display: none; float:right;">Simulation submitted.</p>
                    <input id="scenario-id" name="scenario_id" type="hidden" value="{{ scenario_id }}">
                    <input id="simulation-id" name="simulation_id" type="hidden" value="{{ sim_id }}">
                    <input class="submit-type" id="submit-type-adv" name="submit_type" type="hidden" value="save">
                </div>
			</div>
            <div class="row"><div class="col-md-12">
                    <div class="form-actions">
{#        <button class="btn" id="prev-page" type="button">Previous</button>#}
        {% if prev_url %}
            <a class="btn btn-default" id="prev-page" href="{% url prev_url scenario_id %}">Previous</a>
        {% endif %}
        <button class="btn btn-primary pull-right" id="nextPage" type="submit">Next <span class="glyphicon glyphicon-triangle-right"></span></button>
    </div>
            </div></div>
	{% endblock %}
{% endblock %}
