<div class="well deployment">
    Timesteps should be comma-separated, i.e 1,5,10 <br>
    Coverages should be comma-separated numbers between 0 and 1, i.e 0.1,0.1,0.1<br>
    <br>
	<button class="btn btn-default pull-right delete-deployment {% if remove == False %}hide{% endif %}" type="button">
		<span class="glyphicon glyphicon-remove"></span>Remove
	</button>
	<div class="row">
		<div class="col-md-4">
			{% for field in form.visible_fields %}
				{% if "components" not in field.id_for_label and not "DELETE" in field.id_for_label %}
					<div class="form-group">
						{{ field.errors }}
						<label>{{ field.label }}</label>
						{{ field }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-md-2">
			{{ form.components.label }}
			{{ form.components }}
		</div>
	</div>
</div>
