{% extends "ts_om_edit/base.html" %}

{% block extra_css %}
	{{ block.super }}
{% endblock %}

{% block extra_js %}
	{{ block.super }}
    <script src="{{ STATIC_URL }}js/HighCharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/HighCharts/plugins/draggable-points.js"></script>
    <script src="{{ STATIC_URL }}ts_om/js/popovers_tooltips.js"></script>
    <script src="{{ STATIC_URL }}ts_om_edit/js/entomology.js"></script>
{% endblock %}

{% block header_content %}
    <h3>Entomology</h3>
    <small><em>"Level of transmission and a description of the main vectors"</em></small>
{% endblock %}

{% block further_info %}
		For a map of dominant malaria vector species, see:
		<a target="_blank" href="http://www.parasitesandvectors.com/content/5/1/69">Parasites and Vectors</a>
		<br>
		For more information on vector species parameters, see:
		<a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/XmlEntoVector">Ento Vector</a>
		<br>
{% endblock %}

{% block simple_tab_content %}
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal" type="button" aria-hidden="true">&times;</button>
                  <h3>Remove Vector?</h3>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to remove this vector and all related data?</p>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-default" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                  <button class="btn btn-danger" id="remove" data-dismiss="modal">Remove</button>
                </div>
                <input id="modal-vector-mosquito" type="hidden" value="">
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-4">
			<label for="{{ form.annual_eir.id_for_label }}">
				Annual average EIR
			</label>
			{{ form.annual_eir }}
			<p class="help-block">Number of infectious bites per person per year</p>
		</div>
	</div>
    <h4>Vectors</h4>
	<div class="row">
	  <div class="col-md-3">
			<select class="form-control" id="id_vectors" name="vectors">
				{% for vector in form.vectors.field.choices %}
					<option value="{{ vector.0 }}" data-name="{{ vector.0 }}"
					        data-average-eir="{{ vector.1.extra.average_eir }}"
					        data-human-blood-index="{{ vector.1.extra.human_blood_index }}"
									data-monthly-values="{{ vector.1.extra.monthly_values }}">
						An. {{ vector.0 }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-4">
      {% if has_interventions %}
	    <button class="btn btn-default add-vector" type="button" disabled
            title="Can't change species list if intervention section is not empty">Add</button>
      {% else %}
	    <button class="btn btn-default add-vector" type="button">Add</button>
      {% endif %}
	  </div>
	</div>
	{{ vector_formset.management_form }}
	<div class="vectors">
		{% for form in vector_formset %}
		<div class="vector" id="vector_{{ forloop.counter0 }}">
			<legend>An. <span class="vector-name"></span>
				<button class="btn ts-collapse pull-right" type="button" data-toggle="collapse"
				        data-target="#inner-vector_{{ forloop.counter0 }}">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
				<button class="btn btn-default pull-right remove-vector" data-id="{{ forloop.counter0 }}"
                    {% if forloop.last and forloop.counter0 == 0 %}
                        title="Must have at least one species in the simulation" disabled
                    {% else %}
                        data-type="remove" data-toggle="modal"
                        data-target="#confirm" title="Remove Vector and all related data"
                    {%endif %}
					type="button" >
					<span class="glyphicon glyphicon-remove">Remove</span>
				</button>
			</legend>
            <div class="collapse inner-vector" id="inner-vector_{{ forloop.counter0 }}" aria-expanded="false">
                {% for field in form.visible_fields %}
                    <div class="form-inline {% if vector_formset.can_delete and field.label == "Delete"%}hide{% endif %}">
                        <div class="col-md-4">
                            {{ field.label_tag }}
                        </div>
                        <div class="input-group">
                            {{ field }}
                            {% if forloop.counter0 != 0 %}
                                <span class="input-group-addon">%</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <h5>Monthly Seasonality</h5>
                <div class="col-md-12">
                    <div class="chart" id="chart_{{ forloop.counter0 }}" style="height: 400px; margin: 0 auto;"></div>
                </div>
            </div>
			{{ form.name }}
			{{ form.monthly_values }}
		</div>
		{% endfor %}
	</div>
    <div class="row">
        <div class="col-md-12 alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            You can edit the monthly values of each species by dragging the relevant points in the charts.
        </div>
    </div>
    <h4>
        <input class="has-imported-infection" name="has_imported_infection" type="checkbox"
               {% if has_imported_infection %}checked{% endif %}>
        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="This pseudo-intervention provides a way to model infections being imported into the simulated population."></i> Imported Infection
    </h4>
    <div class="row">
		<div class="col-md-12">
        <p><small><em>Please refer to <a href="https://github.com/SwissTPH/openmalaria/wiki/ModelIntervMisc#import-infections"> Import Infections </a> for additional information</em></small></p>
        </div>
    </div>

    <div class="row {% if not has_imported_infection %}hide{% endif %} imported-infections">
        <div class="col-md-9">
            {{ import_infections_form }}
        </div>
    </div>

	{% with vector_formset.empty_form as form %}
		<div class="hidden-vector hide" id="vector_hidden" aria-expanded="false">
			<legend>An. <span class="vector-name"></span>
				<button class="btn btn-default ts-collapse pull-right" type="button" data-toggle="collapse"
				        data-target="#inner-vector_{{ forloop.counter0 }}">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
                <button class="pull-right remove-vector btn btn-default"
                    data-id="hidden"
                        data-type="remove" data-toggle="modal"
                        data-target="#confirm" title="Remove Vector and all related data"
					type="button" >
					<span class="glyphicon glyphicon-remove"></span> Remove
				</button>
			</legend>
            <div class="collapse inner-vector" id="inner-vector_{{ forloop.counter0 }}" aria-expanded="false">
                {% for field in form.visible_fields %}
                    <div class="form-inline {% if vector_formset.can_delete and field.label == "Delete"%}hide{% endif %}">
                        <div class="col-md-4">
                            {{ field.label_tag }}
                        </div>
                        <div class="input-group">
                            {{ field }}
                            {% if forloop.counter0 != 0 %}
                                <span class="input-group-addon">%</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <h5>Monthly Seasonality</h5>
                <div class="col-md-12">
                    <div class="chart" style="height: 400px; margin: 0 auto;"></div>
                </div>
            </div>
			{{ form.name }}
			{{ form.monthly_values }}
		</div>
	{% endwith %}
{% endblock %}