{% extends "ts_om_edit/base.html" %}

{% block extra_css %}
	{{ block.super }}
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}ts_om_edit/js/healthsystem.js"></script>
{% endblock %}

{% block header_content %}
	<h3>Health system</h3>
	<small><em>"The percentages below refer to the percentage of fevers treated with an antimalarial in two weeks. In OpenMalaria, these are transformed into the time steps of the simulation"</em></small>
{% endblock %}

{% block container_content %}

    <div class="row">
		<div class="col-md-3">
            <div class="form-group">
                <label>Percentage of fevers treated with an antimalarial</label>
                <div class="input-group">
                    {{ form.perc_total_treated }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
            <div class="form-group">
                <label>Percentage of these treatments accessed through formal care providers</label>
                <div class="input-group">
                    {{ form.perc_formal_care }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label>First line drug</label>
			{{ form.first_line_drug }}
		</div>
	</div>
	<div class="form-actions">
		<a class="btn btn-default" id="prev-page" href="{% url "ts_om.demography" scenario_id %}">Previous</a>
		<button class="btn btn-primary pull-right" id="nextPage" type="submit">Next</button>
	</div>
	<div id="wiki-info">
		Please refer to <a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/ModelClinical">Model Clinical</a> for additional information.
	</div>
{% endblock %}