{% extends "ts_om_edit/base.html" %}

{% block extra_css %}
	{{ block.super }}
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}ts_om_edit/js/healthsystem.js"></script>
{% endblock %}

{% block header_content %}
	<h3>Health system</h3>
	<small><em>"The percentages below refer to the percentage of fevers treated with an antimalarial in two weeks. In OpenMalaria, these are transformed into the time steps of the simulation"</em></small>
{% endblock %}

{% block further_info %}
		Please refer to <a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/ScenarioHealthSystem">Case Management</a> for additional information.
{% endblock %}

{% block simple_tab_content %}

    <div class="row">
		<div class="col-md-3">
            <div class="form-group">
                <label>Percentage of fevers treated with an antimalarial in a 14 day period</label>
                <div class="input-group">
                    {{ form.perc_total_treated }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
            <div class="form-group">
                <label>Percentage of these treatments accessed through formal care providers</label>
                <div class="input-group">
                    {{ form.perc_formal_care }}
                    <span class="input-group-addon">%</span>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label>First line drug</label>
			{{ form.first_line_drug }}
		</div>
	</div>

{% endblock %}