{% extends "ts_om_edit/base.html" %}

{% block extra_css %}
	{{ block.super }}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ts_om_edit/css/intervention_shopping_cart.css">
{% endblock %}

{% block extra_js %}
	{{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="{{ STATIC_URL }}ts_om/js/popovers_tooltips.js"></script>
	<script src="{{ STATIC_URL }}ts_om_edit/js/intervention_shopping_cart.js"></script>
	<script src="{{ STATIC_URL }}ts_om_edit/js/interventions.js?1"></script>
	<script>
		vectorsCount = parseInt({{ entomology_vectors_count }});
		vectorNames = {{ entomology_vectors_names|safe }};
	</script>
{% endblock %}

{% block header_content %}
	<h3>Select interventions</h3>
	<small><em>"What interventions do you want to deploy?"</em></small>
{% endblock %}

{% block container_content %}
	<fieldset>
		<legend>Interventions to Add</legend>
		<div class="box" id="intervention">
			<ul class="source">
				{% for intervention in interventions %}
					<li class="ui-draggable" data-prefix="{{ intervention.name|lower }}" data-name="{{ intervention.name }}"
							data-id="{{ intervention.id }}">
						<div class="row">
							<div class="col-md-6">
								<strong>
                                    {% if intervention.name == "GVI" %}
                                        {{ intervention.component.name }}
                                    {% else %}
                                        {% if intervention.name == "Pyrethroids" or intervention.name == "DDT" %}
                                            IRS -
                                        {% endif %}
                                        {{ intervention.name }}
                                    {% endif %}
                                </strong>
							</div>
							<div class="col-md-6">
                                <a class="btn btn-default" target="_blank"
                                     href="https://github.com/SwissTPH/openmalaria/wiki/schema-32#elt-{{ intervention.component.tag }}">
                                    <span class="glyphicon glyphicon-book"></span> Documentation
                                </a>
                                <button class="btn btn-default add-button" type="button" data-original-title="Add intervention to simulation">
                                    <span class="glyphicon glyphicon-plus"></span> Add to Simulation
                                </button>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</fieldset>
	<fieldset>
		<legend>Interventions</legend>
		<div class="well page-well interventions">
			<div class="box">
				<ul class="cart ui-sortable">
					{% for formset in intervention_formsets %}
						{{ formset.management_form }}
						<div class="hide empty-form" id="empty-form-{{ formset.prefix }}">
							{% include "ts_om_edit/interventions/intervention.html" with empty="empty" form=formset.empty_form %}
						</div>
						{% for form in formset %}
							{% include "ts_om_edit/interventions/intervention.html" with index=forloop.counter0 %}
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</fieldset>
	<div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button" aria-hidden="true">&times;</button>
                    <h3>Remove Intervention?</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove the intervention and all related data?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                    <button class="btn btn-danger" id="remove" data-dismiss="modal">Remove</button>
                </div>
                <input id="modal-intervention-id" type="hidden" value="">
            </div>
        </div>
	</div>
	<div class="form-actions">
		<a class="btn btn-default" id="prev-page" href="{% url "ts_om.entomology" scenario_id %}">Previous</a>
		<button class="btn btn-primary" id="nextPage" type="submit">Next</button>
	</div>
{% endblock %}
