{% extends "ts_om/base.html" %}
{% comment %}
This file is part of the VecNet OpenMalaria Portal.
For copyright and licensing information about this package, see the
NOTICE.txt and LICENSE.txt files in its top-level directory; they are
available at https://github.com/vecnet/om

This Source Code Form is subject to the terms of the Mozilla Public
License (MPL), version 2.0.  If a copy of the MPL was not distributed
with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'js/codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/hint/show-hint.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/dialog/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/display/fullscreen.css' %}">
    <link rel="stylesheet" href="{% static 'css/codemirror-ui/codemirror-ui.css' %}">
    <link rel="stylesheet" href="{% static 'ts_om/css/editor.css' %}">
    <link rel="stylesheet" href="{% static 'ts_om/css/summary.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>var STATIC_URL_XML_TAGS = "{% static 'ts_om/files/xml_tags.json' %}";</script>
    <script src="{% static 'js/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'js/codemirror/mode/xml/xml.js' %}"></script>
    <script src="{% static 'js/codemirror/fold/foldcode.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/xml-fold.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/foldgutter.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/edit/matchtags.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/edit/closetag.js' %}"></script>
    <script src="{% static 'js/codemirror/hint/xml-hint.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/dialog/dialog.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/search/searchcursor.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/search/search.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/display/fullscreen.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/display/placeholder.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/lint/lint.js' %}"></script>
    <script src="{% static 'js/codemirror-ext/util/formatting.js' %}"></script>
    <script src="{% static 'js/codemirror-ui/codemirror-ui.js' %}"></script>
    <script src="{% static 'ts_om_edit/js/editor.js' %}?2"></script>
    <script src="{% static 'ts_om_edit/js/summary.js' %}?3"></script>

    <script src="{% static 'ts_om/js/popovers_tooltips.js' %}"></script>
{% endblock %}

{% block main_content %}
    <form action="" id="ts-om-form" method="post">{% csrf_token %}
    <div class="container">
        <div class="row">

            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">Home</a><span class="divider"></span>
                </li>
                <li>
                    <a href="{% url 'ts_om.list' %}">My Simulations</a><span class="divider"></span>
                </li>
                <li class="active"> {{  scenario.name  }} Summary </li>
            </ul>
        </div>

        {% block header_content %}
            <div class="row">
                <div class="col-md-9">
                    <div class="alert" id="delete-message"></div>
                </div>
            </div>
            <div class="tabbable">
                <ul id="mode-tabs" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#simple">Basic</a></li>
                    <li>
                        <a data-toggle="tab" href="#advanced">
                            Advanced
                            <div class="advanced-tab-extra-text text-warning pull-right hide">(read-only)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="simple">
                    <div class="row">
                        <button class="pull-right spread delete btn btn-danger tooltip_button" data-id="{{ scenario_id }}"
                                data-type="{% if deleted %}restore{% else %}delete{% endif %}" data-toggle="modal"
                                data-target="#confirm"
                                data-original-title="{% if deleted %}Restore{% else %}Delete{% endif %} Simulation and all related data"
                                type="button">
                            {% if deleted %}Restore{% else %}<span class="glyphicon glyphicon-trash"></span> Delete{% endif %}
                        </button>
                        {% if version == 32 %}
                            <a class="pull-right spread duplicate btn btn-info tooltip_button" data-original-title="Copy Simulation"
                               href="{% url "ts_om.duplicate" scenario_id %}">
                                <span class="glyphicon glyphicon-copy"></span> Copy
                            </a>
                        {% endif %}
                        <a download="{{ name }}.xml" class="pull-right spread btn btn-success" href="{% url "ts_om.download" scenario_id %}">
                            <span class="glyphicon glyphicon-download-alt"></span> Download XML
                        </a>
                        {% if scenario.new_simulation %}
                        <a class="pull-right spread btn btn-info" href="{% url "ts_om_viz.SimulationView" scenario.new_simulation.id %}">
                            <span class="glyphicon glyphicon-stats"></span> See results
                        </a>
                        {% endif %}
                        <a {% if scenario.new_simulation %}disabled{% else %}href="{% url "ts_om.monitoring" scenario.id %}"{% endif %} class='pull-right spread btn btn-success'  ><span class="glyphicon glyphicon-edit"></span> Edit </a>
                    </div>
                    <div class="modal fade" id="confirm">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button" aria-hidden="true">&times;</button>
                                    <h3>{% if deleted %}Restore{% else %}Delete{% endif %} Simulation?</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to {% if deleted %}restore{% else %}delete{% endif %} the simulation and all
                                        related data?</p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-warning" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                                    <a href="{% url 'ts_om.delete' scenario.id %}" class="btn btn-danger">{% if deleted %}Restore{% else %}
                                        <span class="glyphicon glyphicon-trash"></span> Delete{% endif %}</a>
                                </div>
                                <input id="modal-scenario-id" type="hidden" value="">
                            </div>
                        </div>
                    </div>
            {% endblock %}
            {% block simple_tab_content %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">Name</label>
                        <input class="form-control text" id="name" name="name" placeholder="Name" value="{{ scenario.name }}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="desc">Description</label>
                        <textarea class="form-control" id="desc" name="desc" placeholder="Description"
                                  {% if deleted %}disabled{% endif %}>{{ desc }}</textarea>
                    </div>
                    <fieldset>
                        <legend>
                            {% if scenario.new_simulation %}
                                Monitoring (outputs)
                            {% else %}
                                <a href="{% url 'ts_om.monitoring' scenario.id %}">Monitoring (outputs)</a>
                            {% endif %}
                        </legend>
                        <label>
                            Duration: {% if monitor_type != "custom" %}
                                {{ monitor_yrs }} year{% if monitor_yrs != 1 %}s{% endif %}
                                {% if monitor_mos != 0 %}{{ monitor_mos }} month{% if monitor_mos != 1 %}s{% endif %}{% endif %}
                            {% else %}
                                Custom
                            {% endif %}
                            ({{ timesteps }} timesteps)
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>
                            {% if scenario.new_simulation %}
                                Demography
                            {% else %}
                                <a href="{% url 'ts_om.demography' scenario.id %}">Demography</a>
                            {% endif %}
                        </legend>
                        <label>{{ demography }},
                            {{ pop_size }} individuals</label>
                    </fieldset>
                    <fieldset>
                        <legend>
                        {% if scenario.new_simulation %}
                            Health system
                        {% else %}
                                <a href="{% url 'ts_om.healthsystem' scenario.id %}">Health system</a>
                            {% endif %}
                        </legend>
                        <label>First line drug: {{ first_line_drug }}, fevers accessing treatment: </label>
                    </fieldset>
                    <fieldset>
                        <legend>
                            {% if scenario.new_simulation %}
                            Transmission/Entomology
                        {% else %}
                                <a href="{% url 'ts_om.entomology' scenario.id %}">Transmission/Entomology</a>
                            {% endif %}
                        </legend>
                        <label>
                            {% for vector in vectors %}
                                {{ vector.mosquito }}
                                {% if vector.seasonality.annualEIR %}
                                (EIR {{ vector.seasonality.annualEIR }})
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            vectors, {% if annual_eir %}EIR of {{ annual_eir }}{% endif %}
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>
                            {% if scenario.new_simulation %}
                            Interventions
                        {% else %}
                                <a href="{% url 'ts_om.interventions' scenario.id %}">Interventions</a>
                            {% endif %}
                        </legend>
                        <label>
                            {% if interventions|length == 0 %}
                                Not yet configured
                            {% else %}
                                {% for i in interventions %}
                                    {{ i }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </label>
                    </fieldset>

                    <div id="submit-progress" class="progress progress-striped active" style="width: 40%; display: none;">
                        <div class="progress-bar" style="width: 20%;"></div>
                    </div>
                    <p class="text-success" id="submit_success" style="display: none; float:right;">Simulation submitted.</p>
                    <input id="scenario-id" name="scenario_id" type="hidden" value="{{ scenario_id }}">
                    <input id="simulation-id" name="simulation_id" type="hidden" value="{{ sim_id }}">
                    <input class="submit-type" id="submit-type-simple" name="submit_type" type="hidden" value="save">
            {% endblock %}
                </div>
                <div class="tab-pane" id="advanced">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right" id="further-info">
                                Schema v32: <a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/schema-32">Doc</a>
                                | <a download="scenario_32.xsd" href="{% static 'ts_om/files/scenario_32.xsd' %}">Download</a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-default {% if sim_id %}disabled{% endif %}" id="validate" type="button"
                                {% if sim_id %}disabled{% endif %}>
                                Validate
                            </button>

                        </div>
                        <div class="col-md-1">
                            <div id="validate-spinner">
                                <span class="glyphicon glyphicon-spin icon-spinner"></span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <a href="" class="btn pull-right hide">Discard changes</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div id="valid-or-not"></div>
                        </div>
                    </div>
                    <textarea id="xml" name="xml" placeholder="<!-- write some xml -->">{{ xml }}</textarea>
                    <div class="form-actions">

                        <button class="submit-scenario btn btn-default {% if sim_id %}disabled{% endif %}" id="submit-scenario" type="button"
                            {% if sim_id %}disabled{% endif %} style="display: none;">
                            Save and Run
                        </button>

                    </div>
                    <span class="help-block">
                        While in the editor window:<br>
                        Use F11 to toggle Fullscreen mode.<br/>
                        Use ctrl+f / cmd+f to start searching, ctrl+g / cmd+g to find next.<br/>
                        Use ctrl+z / cmd+z to undo, ctrl+y / cmd+y to redo.
                    </span>
                    <div class="progress" id="submit-progress" style="width: 40%; display: none;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            <span class="sr-only">50% Complete</span>
                    </div>
                    <p class="text-success" id="submit_success" style="display: none; float:right;">Simulation submitted.</p>
                    <input id="scenario-id" name="scenario_id" type="hidden" value="{{ scenario_id }}">
                    <input id="simulation-id" name="simulation_id" type="hidden" value="{{ sim_id }}">
                    <input class="submit-type" id="submit-type-adv" name="submit_type" type="hidden" value="save">
                </div>
            </div>
    </div>
    <div class="row">
        <hr>
            <div>
                <button type="submit" class="save-scenario-summary-page btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
                <a href="{% url 'ts_om.list' %}" class="btn btn-warning "><span class="glyphicon glyphicon-ban-circle"></span> Discard Changes</a>

            <input name="submit_run" type="submit" class="btn btn-primary pull-right" value="Save and Run">
            </div>
        </div>
    </div>
    </form>
{% endblock %}
