.scenario-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 80px;
    overflow: auto;
    border: 2px solid;
    clear: both;
}

.scenario-list-heading {
    float: left;
    width: 300px;
    border: 2px solid;
    background-color: #b3c7ce;
}

.scenario-list li {
    margin: 0 0 1px 0;
}

.listColOne {
    float: left;
    width: 200px;
}

.listColTwo {
    float: left;
    color: green;
}