{% extends "base.html" %}
{% load i18n staticfiles bootstrap3 %}

{% block page_title %}Subject Management System{% endblock %}
{% block extra_css %}
<!-- Custom styles for this template -->
<style>
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
</style>
{% endblock %}

{% block main_content %}
    <form class="form-signup" action="" method="post" id="signup-form">{% csrf_token %}
{% bootstrap_form form layout='inline' form_group_class='' %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
{% endblock %}