{% extends "ts_om/base_with_form.html" %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="{% url 'ts_om.list' %}">My Simulations</a><span class="divider"></span></li>
                <li class="active">{{ scenario.name  }} Summary</li>
            </ul>
            <h3>Summary</h3>
            <form action="" id="ts-om-form" method="post">{% csrf_token %}
                <div class="tabbable">
                    <ul id="mode-tabs" class="nav nav-tabs">
                        <li><a href="{{ basic_url }}">Basic</a></li>
                        <li class="active">
                            <a data-toggle="tab" href="#advanced">
                                Advanced
                                <div class="advanced-tab-extra-text text-warning pull-right hide">(read-only)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="simple">
                        {% block container_content %}
                        {% endblock %}
                    </div>
                    <div class="tab-pane active" id="advanced">
                        <div class="container">
                            <div class="row">
                                <div class="pull-right">
                                    Schema v32: <a target="_blank" href="https://github.com/SwissTPH/openmalaria/wiki/GeneratedSchema32Doc">Doc</a>
                                    | <a download="scenario_32.xsd" href="{{ STATIC_URL }}ts_om/files/scenario_32.xsd">Download</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span1">
                                    <button class="btn btn-default {% if sim_id %}disabled{% endif %}" id="validate"
                                            type="button" {% if sim_id %}disabled{% endif %}>
                                        Validate
                                    </button>
                                </div>
                                <div class="span1">
                                    <div id="validate-spinner">
                                            <i class="icon icon-spin icon-spinner"></i>
                                    </div>
                                </div>
                                <div class="span5"></div>
                                <div class="span2">
                                    <button class="discard-changes btn pull-right hide" type="button">Discard changes</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span9">
                                    <div id="valid-or-not"></div>
                                </div>
                            </div>
                            <textarea id="xml" name="xml" placeholder="<!-- write some xml -->">{{ scenario.xml }}</textarea>
                            <div class="form-actions">
                                <button class="save-scenario btn btn-success {% if scenario.new_simulation %}disabled{% endif %}"
                                        id="save-scenario" type="button" {% if scenario.new_simulation %}disabled{% endif %}>
                                    Save
                                </button>
                                <button class="submit-scenario btn-primary {% if scenario.new_simulation %}disabled{% endif %}"
                                        id="submit-scenario" type="button" {% if scenario.new_simulation %}disabled{% endif %}
                                        style="display: none;">
                                    Save and Run
                                </button>
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    While in the editor window:<br>
                                    Use F11 to toggle Fullscreen mode.<br/>
                                    Use ctrl+f / cmd+f to start searching, ctrl+g / cmd+g to find next.<br/>
                                    Use ctrl+z / cmd+z to undo, ctrl+y / cmd+y to redo.
                                </div>
                            </div>
                            <div id="submit-progress" class="progress progress-striped active" style="width: 40%; display: none;">
                                <div class="bar" style="width: 20%;"></div>
                            </div>
                            <p class="text-success" id="submit_success" style="display: none; float:right;">Simulation submitted.</p>
                            <input id="scenario-id" name="scenario_id" type="hidden" value="{{ scenario_id }}">
                            <input id="simulation-id" name="simulation_id" type="hidden" value="{{ sim_id }}">
                            <input class="submit-type" id="submit-type-adv" name="submit_type" type="hidden" value="save">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
