{% extends "base3.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}ts_om/css/ts2.css" />
{% endblock %}

{% block extra_js %}
    <script>
        var STATIC_URL = "{{ STATIC_URL|escapejs }}";
    </script>
    <script src="{{ STATIC_URL }}ts_om/js/common.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
{% endblock %}

{% block jumbotron_content %}
    <h1>OpenMalaria</h1>
    <p class="lead">Basic user interface</p>
{#    <img src="{{ STATIC_URL }}ts_om/img/icon_ts.png" class="img-responsive pull-right" alt="Transmission Simulator logo" width="100" height="100">#}
{% endblock %}

{% block main_content %}
    <form action="" id="ts-om-form" method="post">{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% block left_content %}
{#                        <ul class="nav mainnav sidebar-nav nav-list nav-tabs nav-stacked">#}
        {#                    <li id="ts"><a href="{% url "ts.index" %}"><i class="icon-angle-left pull-left"></i>Transmission Simulator</a></li>#}
        {#                    <li id="index"><a href="{% url "ts_om.index" %}"><i class="icon-wrench"></i>OpenMalaria</a></li>#}
{#                            <li id="start"><a href="{% url "ts_om.start" %}">#}
{#                                <i class="icon-edit"></i> New Simulation#}
{#                            </a></li>#}
{#                            <li id="list"><a href="{% url "ts_om.list" %}">#}
{#                                <i class="icon-list icon-rotate-180"></i> My Simulations#}
{#                            </a></li>#}
{#                            <li id="list"><a href="{% url "ts_om.utilities" %}">#}
{#                                <i class="icon-wrench"></i> Utilities#}
{#                                <i class="icon-angle-right pull-right"></i>#}
{#                            </a></li>#}
{#                            <li id="upload"><a href="{% url "ts_om.upload" %}">#}
{#                                <i class="icon-upload-alt"></i> Upload Experiment#}
{#                                <i class="icon-angle-right pull-right"></i>#}
{#                            </a></li>#}
{#                        </ul>#}
                    {% endblock %}
                </div>
                <div class="col-md-9">
                    {% block right_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
