{% extends "ts_om/base.html" %}

{% comment %}
This file is part of the VecNet OpenMalaria Portal.
For copyright and licensing information about this package, see the
NOTICE.txt and LICENSE.txt files in its top-level directory; they are
available at https://github.com/vecnet/om

This Source Code Form is subject to the terms of the Mozilla Public
License (MPL), version 2.0.  If a copy of the MPL was not distributed
with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ts_om/css/list.css' %}">
    <link rel="stylesheet" href="{% static 'ts_om/css/spin.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'ts_om/js/popovers_tooltips.js' %}"></script>
    <script src="{% static 'ts_om/js/list.js' %}?3"></script>
{% endblock %}

{% block main_content %}
    {{ block.super }}


    <div class="container">
            <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">Home</a><span class="divider"></span>
                </li>
                <li class="active">My Simulations</li>
            </ul>
        </div>
        <div class="row col-md-12">            <h3>My Simulations</h3></div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success spread" href="{% url "ts_om.start" %}">
                    <span class="glyphicon glyphicon-plus"></span> Create Simulation
                </a>

                <div class="alert" id="delete-message"></div>
                <button class="delete btn spread btn-danger tooltip_button pull-right" data-original-title="Delete selected simulations">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </button>
                <a href="" class="btn spread btn-info pull-right tooltip_button" style="color:#ffffff" data-original-title="Refresh">
                    <i class="glyphicon glyphicon-refresh"></i> Refresh
                </a>
                <button class="submit-scenarios spread btn btn-success tooltip_button pull-right"
                        data-original-title="Run selected simulations">
                    <i class="glyphicon glyphicon-play"></i> Run
                </button>
            </div>
        </div>
        <div class="row" id="simulations-data">
            <div class="col-md-12">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr></tr>
                <tr>
                    <th>
                        <input class="all-scenarios-checkbox" type="checkbox">
                    </th>
                    <th>ID</th>
                    <th colspan="4">
                        Name/Description
                    </th>
{#                            <th colspan="2">Demographics</th>#}
                    <th colspan="1">OpenMalaria<br>Version</th>
                    <th colspan="3"></th>
                    <th colspan="2"></th>
                    <th colspan="3">Last Modified</th>
                </tr>
                </thead>
                <tbody>
                {% for scenario in object_list %}
                    <tr id="scenario-row-{{ scenario.id }}">
                        <td>
                            <input class="scenario-checkbox" type="checkbox" data-id="{{ scenario.id }}">
                        </td>
                        <td colspan="1">
                            {% if scenario.id and scenario.status != "xmlerror" %}
                                <a href="{% url "ts_om.summary" scenario.id %}">{{ scenario.id }}</a>
                            {% else %}
                                {{ scenario.id }}
                            {% endif %}
                        </td>
                        <td colspan="4">
                            {{ scenario.name }}<br>
                            <i id="scenario-{{ scenario.id }}-description">{{ scenario.description|default:""|truncatechars:100 }}</i>
                        </td>
    {#                    <td colspan="2">#}
    {#                        {{ demography_name }}#}
    {#                    </td>#}
                        <td colspan="1">{{ scenario.version }}</td>
                        <td class="sim-status" colspan="3">
                            {% include "ts_om/scenario_status.html" %}
                        </td>
                        <td colspan="2">
                            {% if scenario.version == 32 %}
                                <a class="duplicate btn btn-default tooltip_button" data-original-title="Copy Simulation"
                                   href="{% url "ts_om.duplicate" scenario.id %}">
                                    <span class="glyphicon glyphicon-copy"></span> Copy
                                </a>
                            {% endif %}
                        </td>
                        <td colspan="3">
                        <span class="help-inline">
                            {{ scenario.last_modified.date }}
                        </span>
                        </td>
                    </tr>
                {% empty %}
                    <p>No simulations found</p>
                {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    <nav>
                        <ul class="pagination pagination-sm">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-triangle-left"></span> Previous</a>
                                </li>
                                {% if page_obj.previous_page_number > 1 %}
                                    <li><a href="?page=1">1</a></li>
                                    <li><a>...</a></li>
                                {% endif %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}
                            <li class="active"><span>{{ page_obj.number }}</span></li>
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </li>
                                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                    <li><a>...</a></li>
                                    <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                {% endif %}
                                <li><a href="?page={{ page_obj.next_page_number }}">Next <span class="glyphicon glyphicon-triangle-right"></span></a>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
{% endblock %}

