{% extends "ts_om/base.html" %}

{% load static %}

{% block extra_css %}
	{{ block.super }}
  <link rel="stylesheet" href="{% static 'ts_om/css/start.css' %}">
{% endblock %}

{% block left_content %}{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">Home</a><span class="divider"></span>
                </li>
                <li>
                    <a href="{% url 'ts_om.list' %}">My Simulations</a><span class="divider"></span>
                </li>
                <li class="active"> Create New Simulation </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-2">
        </div>
    <div class="col-md-8">
	<h3>Start new simulation</h3>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p class="text-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </p>
        <div class="form-group">
            {{ form.name }}
            <p class="text-danger">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
        <div class="form-group">
            {{ form.desc }}
        </div>
        <div class="form-group">
        {{ form.choice.0 }}
        </div>
        <div class="form-group">
        {{ form.choice.1 }}
        </div>
        <div class="form-group">
        {{ form.list }}
        </div>
        <div class="form-group">
            {{ form.choice.2 }}
            {{ form.xml_file }}
            <p class="text-error">{{ upload_error }}</p>
            <p class="text-danger">
                {% for error in form.xml_file.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
        <div>
            <button class="btn btn-primary" id="nextPage" type="submit"><span class="glyphicon glyphicon-ok"></span> Create</button>
            <a href="{% url 'ts_om.list' %}" class="btn btn-warning"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
