{% extends "ts_om/base.html" %}

{% block extra_css %}
	{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}ts_om/css/start.css">
{% endblock %}

{% block extra_js %}
	{{ block.super }}
  <script src="{{ STATIC_URL }}ts_om/js/start.js"></script>
{% endblock %}
{% block left_content %}{% endblock %}

{% block main_content %}
            <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
    <div class="col-md-6">
	<h3>Start new simulation</h3>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p class="text-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </p>
        <div class="form-group">
            {{ form.name }}
            <p class="text-danger">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
        <div class="form-group">
            {{ form.desc }}
        </div>
        <div class="form-group">
        {{ form.choice.0 }}
        </div>
        <div class="form-group">
        {{ form.choice.1 }}
        </div>
        <div class="form-group">
        {{ form.list }}
        </div>
        <div class="form-group">
            {{ form.choice.2 }}
            {{ form.xml_file }}
            <p class="text-error">{{ upload_error }}</p>
            <p class="text-danger">
                {% for error in form.xml_file.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
        <div>
            <button class="btn btn-primary" id="nextPage" type="submit">Create</button>
            <a href="{% url 'ts_om.list' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
