{% extends "ts_om/base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 4/5/2013
# Institution: University of Notre Dame
# Primary Authors:
#   Alexander Vyushkov <Alexander.Vyushkov@nd.edu>
#   Nicolas Reed <nreed4@nd.edu>
########################################################################################################################
{% endcomment %}

{% block extra_local_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}ts_om/css/summary.css">
{% endblock %}

{% block extra_js_ts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}ts_om/js/popovers_tooltips.js"></script>
{#    <script src="{{ STATIC_URL }}ts_om/js/summary.js"></script>#}
    <script>

    </script>
{% endblock %}


{% block main_content %}
        <div class="container">

    <div class="row">
<ul class="breadcrumb">
                    <li>
                        <a href="{% url 'ts_om.list' %}">My Simulations</a><span class="divider">/</span>
                                <li class="active"> {{  scenario.name  }} Summary </li>
                            </ul>

    {% block header_content %}
        <h3>Summary</h3>
        <div class="row">
            <div class="span9">
                <div class="alert" id="delete-message"></div>
            </div>
        </div>
    			<div class="tabbable">
					<ul id="mode-tabs" class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#simple">Basic</a></li>
							<li>
								<a href="{% url 'ts_om.advanced' scenario.id %}">
									Advanced
								</a>
							</li>
					</ul>
			</div>
        <button class="pull-right delete btn tooltip_button" data-id="{{ scenario_id }}"
                data-type="{% if deleted %}restore{% else %}delete{% endif %}" data-toggle="modal"
                data-target="#confirm"
                data-original-title="{% if deleted %}Restore{% else %}Delete{% endif %} Simulation and all related data"
                type="button">
            {% if deleted %}Restore{% else %}<i class="icon-trash"></i> Delete{% endif %}
        </button>
        {% if version == 32 %}
            <a class="pull-right duplicate btn tooltip_button" data-original-title="Copy Simulation"
               href="{% url "ts_om.duplicate" scenario_id %}">
                <i class="icon-copy"></i> Copy
            </a>
        {% endif %}
        <a download="{{ name }}.xml" class="pull-right btn" href="{% url "ts_om.download" scenario_id %}">
            <i class="icon-download-alt"></i> Download XML
        </a>
        {% if scenario.simulation %}
        <a class="pull-right btn" href="{% url "ts_om_viz.SimulationView" scenario.simulation.id %}">
            <i class="icon-bar-chart"></i> See results
        </a>
        {% endif %}
        <a download="{{ name }}.umbrella" class="pull-right btn" href="{% url 'umbrella.umbrella_spec' scenario_id=scenario_id %}">
        Get Umbrella Spec</a>
        <a {% if scenario.simulation %}disabled{% else %}href="{% url "ts_om.monitoring" scenario.id %}"{% endif %} class='pull-right btn'  > Edit </a>
        <div class="modal hide fade" id="confirm">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button" aria-hidden="true">&times;</button>
                <h3>{% if deleted %}Restore{% else %}Delete{% endif %} Simulation?</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to {% if deleted %}restore{% else %}delete{% endif %} the simulation and all
                    related data?</p>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                <button class="btn btn-danger" id="delete" data-dismiss="modal">{% if deleted %}Restore{% else %}
                    Delete{% endif %}</button>
            </div>
            <input id="modal-scenario-id" type="hidden" value="">
        </div>
    {% endblock %}
    {% block container_content %}
        <form action="" method="POST">{% csrf_token %}
        <label for="name">Name</label>
        <input id="name" name="name" class="text" placeholder="Name" value="{{ scenario.name }}"/>
        <label>Description</label>
        <textarea id="desc" name="desc" placeholder="Description"
                  {% if deleted %}disabled{% endif %}>{{ desc }}</textarea>
        <fieldset>
            <legend>
                {% if scenario.simulation %}
                    Monitoring (outputs)
                {% else %}
                    <a href="{% url 'ts_om.monitoring' scenario.id %}">Monitoring (outputs)</a>
                {% endif %}
            </legend>
            <label>
                Duration: {% if monitor_type != "custom" %}
                    {{ monitor_yrs }} year{% if monitor_yrs != 1 %}s{% endif %}
                    {% if monitor_mos != 0 %}{{ monitor_mos }} month{% if monitor_mos != 1 %}s{% endif %}{% endif %}
                {% else %}
                    Custom
                {% endif %}
                ({{ timesteps }} timesteps)
            </label>
        </fieldset>
        <fieldset>
            <legend>
                {% if scenario.simulation %}
                    Demography
                {% else %}
                    <a href="{% url 'ts_om.demography' scenario.id %}">Demography</a>
                {% endif %}
            </legend>
            <label>{{ demography }},
                {{ pop_size }} individuals</label>
        </fieldset>
        <fieldset>
            <legend>
            {% if scenario.simulation %}
                Health system
            {% else %}
                    <a href="{% url 'ts_om.healthsystem' scenario.id %}">Health system</a>
                {% endif %}
            </legend>
            <label>First line drug: {{ first_line_drug }}, fevers accessing treatment: </label>
        </fieldset>
        <fieldset>
            <legend>
                {% if scenario.simulation %}
                Transmission/Entomology
            {% else %}
                    <a href="{% url 'ts_om.entomology' scenario.id %}">Transmission/Entomology</a>
                {% endif %}
            </legend>
            <label>
                {% for vector in vectors %}
                    {{ vector.mosquito }}
                    {% if vector.seasonality.annualEIR %}
                    (EIR {{ vector.seasonality.annualEIR }})
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                vectors, {% if annual_eir %}EIR of {{ annual_eir }}{% endif %}
            </label>
        </fieldset>
        <fieldset>
            <legend>
                {% if scenario.simulation %}
                Interventions
            {% else %}
                    <a href="{% url 'ts_om.interventions' scenario.id %}">Interventions</a>
                {% endif %}
            </legend>
            <label>
                {% if interventions|length == 0 %}
                    Not yet configured
                {% else %}
                    {% for i in interventions %}
                        {{ i }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
        </fieldset>
        <hr>
        <div>
            <button type="submit" class="save-scenario btn {% if scenario.simulation %}disabled{% endif %}"
                    {% if sim_id %}disabled{% endif %}>
                Save
            </button>
            <a href="{% url 'ts_om.list' %}" class="btn">Discard Changes</a>
            <button name="run" class="submit-scenario btn btn-primary pull-right {% if scenario.simulation %}disabled{% endif %}" type="submit"
                    {% if sim_id %}disabled{% endif %}>
                Save and Run
            </button>
        </div>
        <div id="submit-progress" class="progress progress-striped active" style="width: 40%; display: none;">
            <div class="bar" style="width: 20%;"></div>
        </div>
        <p class="text-success" id="submit_success" style="display: none; float:right;">Simulation submitted.</p>
        <input id="scenario-id" name="scenario_id" type="hidden" value="{{ scenario_id }}">
        <input id="simulation-id" name="simulation_id" type="hidden" value="{{ sim_id }}">
        <input class="submit-type" id="submit-type-simple" name="submit_type" type="hidden" value="save">
        </form>
    {% endblock %}
    </div></div>
{% endblock %}
