{% extends "ts_om/base.html" %}

{% block left_content %}
    <ul class="nav mainnav sidebar-nav nav-list nav-tabs nav-stacked">
        <li id="index"><a href="{% url "ts_om.list" %}">
            <span class="glyphicon glyphicon-menu-left pull-left"></span> Openmalaria
        </a></li>
        <li id="utilities" {% if left_menu_item %} {% else %}class="active"{% endif %}><a href="{% url "ts_om.utilities" %}">
            <span class="glyphicon glyphicon-wrench"></span> Utilities
        </a></li>
        <li id="list"><a href="{% url "ts_om_viz.UploadView" %}">
            <i class="icon-list icon-rotate-180"></i> Upload and visualize simulation output
        </a></li>
    </ul>
{% endblock %}

{% block right_content %}
    {% block page_content %}
        <h3>OpenMalaria Utilities</h3>
        <p align="justify">
            <b>OpenMalaria</b> is a collection of tools for working with OpenMalaria simulations
            created outside of VecNet user interface
        </p>

        <p align="justify">
            OpenMalaria Utilities include:
        </p>
        <ul>
            <li>Upload and run OpenMalaria simulation</li>
            <li>Import result of OpenMalaria model run</li>
        </ul>
        <table class="table noborder" style="table-layout: fixed">
        </table>
        <br/>
        <br/>
        <a class="btn btn-success pull-right" href="{% url "ts_om.start" %}">
            <span class="glyphicon glyphicon-plus"></span> Add a New Simulation</a>
    {% endblock %}
{% endblock %}
