<div class="container">
    <div class="row col-md-12">
        <ul class="nav nav-pills">
            <li role="presentation" {% if active_nav == "home" %} class="active" {% endif %}>
                <a href="">Home</a>
            </li>

            <li role="presentation" {% if active_nav == "news" %} class="active" {% endif %}>
                <a href="">News</a>
            </li>

            <li role="presentation" {% if active_nav == "simulations" %} class="active" {% endif %}>
                <a href="">Simulations</a>
            </li>

            <li role="presentation" {% if active_nav == "experiments" %} class="active" {% endif %}>
                <a href="">Experiments</a>
            </li>
        </ul>
    </div>
</div>