{% for formset in intervention_formsets %}
	{{ formset.management_form }}
	<div class="hide empty-form" id="empty-form-{{ formset.prefix }}">
		{% include "ts_om_edit/interventions/intervention.html" with empty="empty" form=formset.empty_form %}
	</div>
	{% for form in formset %}
		{% include "ts_om_edit/interventions/intervention.html" with index=forloop.counter0 %}
	{% endfor %}
{% endfor %}
<input class="entomology-vectors-count" type="hidden" value="{{ entomology_vectors_count }}">
<input class="entomology-vector-names" type="hidden" value="{{ entomology_vectors_names|safe }}">
